.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vendor-list-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 375px;
  height: 100%;
  text-align: center;
  background: url("./Images/loading_truck.gif") no-repeat;
  background-size: 300px 300px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.facebook-login {
  display: none;
}
