.main-nav {
  background-color: #DBBB35;
  color: #4a4a4a;
  height: 56px;
  padding: 5px 0;
  text-align: center;
  line-height: 56px;
  position: relative;
  border-bottom: 1px solid #BA9F2E;
}

.get-back-btn {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 20px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.main-title {
  display: inline-block;
}

.main-title-img {
  display: inline-block;
  width: 15%;
}