.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 376px;
  height: 50px;
  background: #F3F3F3;
  border-top: 1px solid #d2d2d2;
}

.footer-nav {
  display: flex;
}

.footer-nav > a {
  flex-grow: 1;
  flex-basis: 125px;
  color:#6a6a6a;
  text-align: center;
}

.footer-nav > .highlight > div> span {
  font-weight: 500;
  color:#DBBB35;
}

.nav-items {
  display: flex;
  flex-direction: column;
  flex:1;
}

.nav-items img {
  align-self: center;
  width: 26px;
  height: 26px;
  margin-top:2px;
}

.nav-items span {
  align-self: center;
  padding:0;
  margin:0;
  font-size: 14px;
  line-height: 16px;
}

