.filter-box {
  text-align: center;
}

.filter-box-btn-container {
  background-color: #DBBB35;
  height: 40px;
  line-height: 38px;
  padding-bottom:2px;
  border-top: 1px solid #BA9F2E;
  border-bottom: 1px solid #BA9F2E;
}

.filter-box-btn {
  background: none;
  color: #4a4a4a;
  font-size: 1em;
  border: none;
  margin-bottom:10px;
}

.filter-console-box {
  background-color: #e2e2e2;
  border-bottom: 1px solid #b2b2b2;
  height: 0;
  transition: 0.4s ease-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-console-box.open {
  height: 90px;
  padding: 4px;
}

.distance-selector {
  margin-bottom: 8px;
}

.distance-selector > li {
  display: inline-block;
  border-radius: 4px;
  padding: 6px; 
  background-color: white;
  margin-right: 10px;
  font-size: 0.9em;
  color: #4a4a4a;
  letter-spacing: -0.5px;
}

.filter-selector > li {
  margin-top:4px;
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  padding: 6px;
  font-size: 0.9em;
  color: #4a4a4a;
  margin-right: 10px;
}

.filter-distance.activated {
  background-color: #DBBB35;
  color: #f2f2f2;
}

.filter-type.activated {
  background-color: #DBBB35;
  color: #f2f2f2;
}
