.info-window-wrap {
  display: inline-block;
}

.info-window-img {
  display: inline;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.info-window-text {
  margin-left: 4px;
  display: inline;
  font-size: 1em;
  line-height: 30px;
  vertical-align: top;
  color: #6a6a6a;
  font-weight: bold;
}
